<div class="row">
  <div class="col-md-6 m-auto">

    <form action="/filter">
      <select name="selectedCategory" class="form-select form-select-lg mt-3" aria-label=".form-select-lg example"
        onchange="this.form.submit()">

        {{#if selectedCategory}}
        <option value="{{categorySelected}}" hidden="hidden" selected>{{ selectedCategory }}</option>
        {{else}}
        <option selected>類別</option>
        {{/if}}
        <option value="all">all</option>
        {{#each categories}}
        <option value="{{ this.name }}">{{ this.name }}</option>
        {{/each}}
      </select>
    </form>


    <div class="row container-amount mt-3">
      <div class="col-4">
        <p style="font-size:24px;">總金額：</p>
      </div>
      <div class="col-8 d-flex justify-content-center">
        <p style="font-size:72px; color:coral">{{totalAmount}}</p>
      </div>
    </div>

    <table class="table table-light  table-striped">
      {{#each records}}
      <tr class="table-light">
        <td>
          <i class="{{ this.categoryId.icon }}" style="font-size: 30px; color:deepskyblue"></i>
        </td>
        <td>{{this.name}}</td>
        <td class="text-end">{{this.amount}}</td>
        <td class="text-end">
          <a class="btn btn-outline-success" href="/records/{{this._id}}/edit">修改</a>
        </td>
        <td class="text-end">
          <form action="./records/{{this._id}}?_method=DELETE" method="post">
            <button class="btn btn-outline-danger">刪除</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </table>

    <div class="container-new-expense mt-5 text-center">
      <a class="btn w-50" style="background-color: coral; color:aliceblue" href="/records/new">新增支出</a>
    </div>

  </div>
</div>